{% extends 'base.html' %}
{% load static %}
    {% block title %}Netflix - Movie{% endblock title %}
    {% block others %}
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <style>
        .player::-webkit-progress-bar{
            color: red;
        }
    </style>
    {% endblock others %}
{% block content %}
    {% include 'partials/navbar.html' %}
    <main class='bg-primary_black h-full w-full '>
        
        <video src="assets/test.mp4" controls class="w-full h-screen player"></video>
        
    </main>
{% endblock content %}